@import 'bootstrap/dist/css/bootstrap.css';
@import 'font-awesome/css/font-awesome.min.css';

.product-card{
  width: auto;
  max-width: 250px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.product-card-image{
  width: 200px;
  height: 220px;
}
.product-card-title{
  overflow: hidden;
  height: 48px;
}

.main-container {
  padding-top: 100px;
}

.cart-container {
  margin-top: 100px;
  height: 80vh;
}

.cart-container-count {
  font-size: 12px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  left: 6px;
}

.product-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

@media only screen and (max-width: 768px) {
  .product-page {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 140px;
  } 

  .product-page-content {
    width: 100%;
    padding: 12px;
  }

  .prod-detail-image {
    max-width: 260px;
  }
}